<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RandoMovie</title>
    <link rel="stylesheet" href="/static/css/styte.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="index.html"><img src="/static/img/logo.png" alt="Random Movie"></a>
        </div>
    </header>
    <main>
        <section id="mid-p">
            <p>
                Letterboxd IDs...
            </p>
        </section>
        <form action="" method="get">
            <input type="text" name="letterboxd-id" id="input-id" placeholder="pavaogus">
            <span id="line"></span>
            <button type="submit">Add</button>
            <p id="error-message" style="color: red; display: none;">Por favor, insira um ID válido.</p>
        </form>    
        <div id="user-list-container">
            <p id="user-list-title" style="display: none;">Users</p>
            <ul id="users"></ul>
        </div>
        <div id="button-case">
            <a id="generate-movie" href="by-letterboxd.html"><button>Generate Movie</button></a>
        </div>
    </main>
    <script src="/static/js/script_search_users_page.js"></script>
</body>
</html>
