<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RandoMovie</title>
    <link rel="stylesheet" href="/static/css/styte.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="index.html">><img src="/static/img/logo.png" alt="Random Movie"></a>
        </div>
    </header>
    <main>
        <section id="mid-p">
            <p>
                Welcome back, 
                Find a random movie or one in common with your friends and have fun!
            </p><br>
        </section>
        <div id="button-case">
            <a href="by-letterboxd.html"><button>Letterboxd</button></a>
            <a href="randomovie.html"><button>Random Movie</button></a>
        </div>
    </main>

</body>
</html> 